:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue";
  font-size: 18px;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  color: var(--Medium-Gray);
  max-width: 1440px;
}

.container {
  background-color: var(--Almost-White);
  margin: 2rem;
}

.nav-bar__container-mobile {
  display: none;
}

.dropdown-menu {
  position: relative;
}

.info-btn {
  padding: 0 1.5rem;
  height: 3rem;
  border-radius: 1rem;
  border-style: none;
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
  font-family: "Epilogue";
}

.info-btn:hover {
  color: var(--Almost-Black);
  background-color: var(--Almost-White);
  cursor: pointer;
  border: solid 1px var(--Almost-Black);
}

.info-excerpt {
  width: 46ch;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.info-title {
  font-size: 4.5rem;
  width: 11ch;
  font-weight: 700;
  color: var(--Almost-Black);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.menu-btn {
  background-color: var(--Almost-White);
  color: var(--Medium-Gray);
  cursor: pointer;
  font-size: 14px;
  border: none;
  font-family: "Epilogue";
}

.menu-btn__register {
  border: solid 2px var(--Medium-Gray);
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.75rem;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.menu-content__features {
  left: -4rem;
}

.menu-content__company {
  left: -2rem;
}

.menu-content a {
  color: var(--Medium-Gray);
  text-decoration: none;
  display: block;
}

.menu-content a:hover {
  text-decoration: none;
}

.menu-content__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-bar {
  display: inline-flex;
}

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 14px;
  padding: 2rem;
}

.nav-bar__item {
  display: inline-block;
  margin-left: 2rem;
  cursor: pointer;
}
.nav-bar__left-right {
  display: flex;
  align-items: center;
}

.nav-bar__left {
  display: flex;
  align-items: center;
}

.section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}
.section-left__sponsors {
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.section-right {
  padding: 4rem;
}
.section-right__image {
  width: 100%;
  max-width: 960px;
}

.section-right__image-mobile {
  display: none;
}
.sponsor-img {
  max-width: 90px;
  width: 100%;
}

.showDropdown {
  display: block;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 1px 0px 8px var(--Medium-Gray);
}

/* mobile sidebar starts here */

.nav-bar__sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--Almost-White);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

/* The sidebar links */
.nav-bar__sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: var(--Medium-Gray);
  transition: 0.3s;
}
.nav-bar__sidebar a:hover {
  color: var(--Almost-Black);
}
.nav-bar__sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.closebtn__img {
  width: 100%;
  max-width: 1rem;
}

#main-mobile {
  transition: margin-left 0.5s;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  display: none;
}

@media only screen and (max-width: 1220px) {
  .main-content {
    grid-template-columns: 1fr;
    padding: 0;
  }

  #main-mobile {
    display: flex;
  }

  .nav-bar__left-right {
    display: none;
  }

  .nav-bar__right {
    display: none;
  }

  .nav-bar__logo {
    position: relative;
    top: -5rem;
  }

  .section-right {
    order: -1;
    padding: 0;
  }

  .section-right__image {
    display: none;
  }

  .section-right__image-mobile {
    display: block;
    max-width: 750px;
    width: 100%;
  }

  .section-left {
    align-items: center;
  }

  .section-left__info {
    text-align: center;
  }

  .nav-bar__container-mobile {
    display: block;
  }

  /* dropdown-menu mobile version starts here  */

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .active {
    color: var(--Medium-Gray);
  }

  .dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 8px;
  }

  .menu-btn {
    padding: 15px;
    text-align: left;
  }

  /* the end */

  @media only screen and (max-width: 850px) {
    .container {
      margin: 0 auto;
    }

    .info-title {
      font-size: 2rem;
      width: 18ch;
    }

    .info-excerpt {
      font-size: 0.75rem;
      text-align: center;
    }

    .section-left {
      padding: 0;
      align-items: center;
    }

    .section-left__info {
      text-align: center;
    }

    .section-left__sponsors {
      margin-top: 3.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  @media only screen and (max-width: 420px) {
    .sponsor-img {
      max-width: 64px;
    }
  }
}
